#linkedin {
    background-color: #1975FF;
    border-radius: 20px;
    color: white;
    font-size: 25px;
   /* margin-top: 20px; */
    padding: 10px 25px;
}

#home {
    margin-top: 10%;
    margin-bottom: 5%;
}

.glyphicon {
    font-size: 30px;   
}
